h1{
    color: blueviolet;
    text-align: center;
    font-size: 42px;
}

h2 {
    text-align: center;
    color: blueviolet;
    font-size: 26px;
}

.ageTest,
.guessGame {
    border: 3px solid gray;
    border-radius: 7px;
    width: 25%;
    padding: 0 1% 1%;
    margin: 2% auto;
    text-align: center;
} 

.ageTest:hover,
.guessGame:hover {
    background: lightgray;
    cursor: crosshair;
    border: 3px dashed gray;
}